---
layout: default
---
<div class="wrapper">
    <div class="post">
        <!-- START : LEFT SIDE -->
        <aside class="sidebar">
            {% include partials/brand.html %}
            {% include partials/tabs.html %}
        </aside>
        <!-- END : LEFT SIDE -->
        
        <!-- START : MAIN -->
        <main>
            <article class="post-content">
                <header class="post-header">
                    <button class="btn" id="btnLeftOpen">
                        <i class="bi-list"></i>
                    </button>
                    {% include partials/post-info.html %}
                </header>
                <div>
                    {% include components/anchor_headings.html html=content anchorBody="#" %}
                </div>
            </article>
            
            <!-- START : FOOTER -->
            <footer>
                {% include partials/social-link.html %}
                {% include partials/copyright.html %}
            </footer>
            <!-- END : FOOTER -->
        </main>
        <!-- END : MAIN -->
    </div>
</div>