:root{
    --base-font: ;
    --primary-font: ;
    --secondary-font: ;
    --article-font: ;
    --monospace-font: ;
    
    --bg-image: ;
    --bg-color: ;
    --bg-primary-color: ;
    --bg-secondary-color: ;
    
    --primary-color: ;
    --secondary-color: ;
    --accent-color: ;
    
    --heading-color: ;
    --text-color: ;
}