:root[data-theme=dark]{
    --base-font: ;
    --primary-font: ;
    --article-font: ;
    --monospace-font: ;
    
    // Primary Color
    --bg-img: ;
    --bg-color: ;
    --accent-color: ;
    --text-color: ;
    
    // Color Options (only if needed)
    --hover-color: ;
    --active-color: ;
    --focus-color: ;
    --muted-color: ;
}

:root[data-theme=light]{
    --base-font: ;
    --primary-font: ;
    --article-font: ;
    --monospace-font: ;
    
    // Primary Color
    --bg-img: ;
    --bg-color: ;
    --accent-color: ;
    --text-color: ;
    
    // Color Options (only if needed)
    --hover-color: ;
    --active-color: ;
    --focus-color: ;
    --muted-color: ;
}