// Utils
@use '../utils/mixins' as mix;
@use '../utils/variables' as var;

.left-side {
    top: 0;
    position: fixed;
    background-color: aqua;
    transition: all 1s ease;
    height: 100vh;
    width: 320px;
    left: -320px;

    &.open {
        left: 0;
    }
}

.right-side {
    top: 0;
    position: fixed;
    background-color: aqua;
    transition: all 1s ease;
    height: 100vh;
    width: 320px;
    right: -320px;

    &.open {
        right: 0;
    }
}


.mobile-navigation{
    @include mix.flex-justify();
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}