//utils
@use '../utils/variables' as var;
@use '../utils/mixins' as mix;

// extend
%flex-justify{
    @include mix.flex-justify(space-between, center, 10px, row);
}

// LAYOUT HEADER
.layout__header {
    @extend %flex-justify;
    padding: 20px;

    // HEADER BRAND
    .header__brand {
        @extend %flex-justify;
        
        // LOGO
        .header__brand-logo {
            @include mix.height-width(50px, 50px);
            border-radius: 5px;
        }

        // TITLE
        .header__brand-title {
            color: var(--primary-color);
        }
    }

    // HEADER NAVIGATION
    .header__nav{
        .nav__menu {
            background-color: var(--bg-color);
            @include mix.full-screen(-100vh);
    
            &.nav__menu--open{
                @include mix.full-screen(0);
            }
        }

        // MEDIA QUERY MIN-WIDTH: 1024px
        @include mix.respond-to(lg){
            .nav__menu {
                @include mix.height-width(auto, auto);
                position: static;
                background-color: var(--bg-color);

                &,.nav__menu-list {
                    @include mix.flex-justify(space-between, center, 50px, row);
                    list-style-type: none;
                }
            }
        }
    }
}