<div class="post-info">
    <div class="post-title">
        <h1>{{ page.title }}</h1>
    </div>

    <div class="post-meta-section">
        <p class="post-meta">
            <span>Author: {{ page.author | default: site.author }}</span><br>
            {% if page.description %}
            <span>{{ page.description }}</span><br>
            {% endif %}
            <span><time datetime="{{ page.date | date: '%Y-%m-%dT%H:%M:%S' }}">Publish on: {{ page.date | date: "%d %B %Y" }}</time></span><br>
            {% if page.last_modified_at %}
            <span><time datetime="{{ page.last_modified_at | date: '%Y-%m-%dT%H:%M:%S' }}">Last modified on: {{ page.last_modified_at | date: "%d %B %Y" }}</time></span>
            {% endif %}
        </p>
    </div>

    {% if page.image %}
    <figure class="post-image">
        <img src="{{ page.image }}" alt="Image related to {{ page.title }} showcasing {{ page.image_caption | default: 'the content' }}" style="width: 100%; max-width: 800px; height: auto; display: block; margin: 0 auto;">
    </figure>
    {% endif %}
</div>
