<div class="social-link">
    <ul>
        <li><a href="{{ site.facebook }}" aria-label="Facebook"><i class="bi-facebook"></i></a></li>
        <li><a href="{{ site.twitter }}" aria-label="Twitter"><i class="bi-twitter"></i></a></li>
        <li><a href="{{ site.instagram }}" aria-label="Instagram"><i class="bi-instagram"></i></a></li>
        <li><a href="{{ site.youtube }}" aria-label="YouTube"><i class="bi-youtube"></i></a></li>
        <li><a href="{{ site.github }}" aria-label="GitHub"><i class="bi-github"></i></a></li>
        <li><a href="{{ site.discord }}" aria-label="Discord"><i class="bi-discord"></i></a></li>
        <li><a href="{{ site.rss-feed }}" aria-label="RSS Feed"><i class="bi-rss"></i></a></li>
    </ul>
</div>