<nav class="tabs">
    <div class="tab-nav">
        <div class="tab-pane active" id="tabMainMenu">
            <h3>Main Menu</h3>
            <ul>{% include partials/nav-link.html %}</ul>
        </div>
        <div class="tab-pane" id="tabCategory">
            <h3>All Categories</h3>
            {% include components/categories.html %}
        </div>
        <div class="tab-pane" id="tabSearch">
            <h3>Search</h3>
            {% include components/search.html %}
        </div>
        <div class="tab-pane" id="tabToc">
            <h3>Table Of Content</h3>
            {% include components/toc.html html=content %}
        </div>
        <div class="tab-pane" id="tabRelated">
            <h3>Related</h3>
            {% include components/related.html %}
        </div>
    </div>
    <div class="tab-btn">
        <button class="btn btn-tab" id="switchTheme">
            <i class="bi bi-sun"></i>
        </button>
        <button class="btn btn-tab" data-tab="tabCategory">
            <i class="bi bi-archive"></i>
        </button>
        <button class="btn btn-tab" data-tab="tabMainMenu">
            <i class="bi bi-house-door"></i>
        </button>
        <button class="btn btn-tab" data-tab="tabSearch">
            <i class="bi bi-search"></i>
        </button>
        <button class="btn btn-tab" data-tab="tabToc">
            <i class="bi bi-book"></i>
        </button>
        <button class="btn btn-tab" data-tab="tabRelated">
            <i class="bi bi-link-45deg"></i>
        </button>
        <button class="btn btn-tab" id="btnLeftClose">
            <i class="bi bi-x-circle"></i>
        </button>
    </div>
</nav>