<ul>
    <li><a href="{{ '/' | relative_url }}"><i class="bi bi-house"></i> Home</a></li>
    <li><a href="{{ 'blog' | relative_url }}"><i class="bi bi-pencil-square"></i> Blog</a></li>
    <li><a href="{{ 'gallery' | relative_url }}"><i class="bi bi-images"></i> Gallery</a></li>
    <li><a href="{{ 'portfolio' | relative_url }}"><i class="bi bi-briefcase"></i> Portfolio</a></li>
    <li><a href="{{ 'projects' | relative_url }}"><i class="bi bi-clipboard-data"></i> Projects</a></li>
    <li><a href="{{ 'about' | relative_url }}"><i class="bi bi-person-circle"></i> About</a></li>
</ul>
