@use '../utils/variables' as v;
@use '../utils/mixins' as m;

.main__post {
    @include m.grid-setting(250px auto 250px, auto, 0px);

    .left-side {
        grid-column: 1;
        grid-row: 1;
    }

    .post {
        grid-column: 2;
        grid-row: 1;
    }

    .right-side {
        grid-column: 3;
        grid-row: 1;
    }
}