{{- $src := .Destination | safeURL | relURL -}}
{{- $alt := .PlainText | default "Image" -}}
{{- $titleParts := split .Title "|" -}}
{{- $align := index $titleParts 0 | default "center" -}}
{{- $caption := index $titleParts 1 | default "" -}}

<figure class="figure figure--{{ $align }}">
  <picture class="figure__picture">
    <img class="figure__img" src="{{ $src }}" alt="{{ $alt }}" loading="lazy">
  </picture>
  {{- if $caption }}
    <figcaption class="figure__caption">{{ $caption | markdownify }}</figcaption>
  {{- end }}
</figure>