{{ $icons := dict
  "note" "icon--note"
  "info" "icon--info"
  "tip" "icon--tip"
  "success" "icon--success"
  "warning" "icon--warning"
  "danger" "icon--danger"
  "error" "icon--error"
}}

{{ $icon := index $icons .AlertType }}

{{ if eq .Type "alert" }}
  <blockquote class="callout callout--{{ .AlertType }}">
    <strong class="callout__header">
      {{ partial "callout.html" $icon }}
      {{ with .AlertTitle }}
        <span class="callout__title">{{ . }}</span>
      {{ else }}
        {{ or (i18n .AlertType) (title .AlertType) }}
      {{ end }}
    </strong>
    <div class="callout__content">
      {{ .Text }}
    </div>
  </blockquote>
{{ else }}
<figure class="blockquote">
  <blockquote class="blockquote__text" {{ with .Attributes.cite }}cite="{{ . }}"{{ end }}>
    {{ .Text }}
  </blockquote>

  {{ if or (.Attributes.caption) (.Attributes.source) (.Attributes.cite) }}
    <figcaption class="blockquote__caption">
      {{ with .Attributes.caption }}
        <span class="blockquote__caption-text">{{ . | safeHTML }}</span>
      {{ end }}

      {{ if .Attributes.source }}
        <span class="blockquote__source">
          {{ if .Attributes.cite }}
            &mdash; <a href="{{ .Attributes.cite }}" target="_blank" rel="noopener">{{ .Attributes.source }}</a>
          {{ else }}
            &mdash; {{ .Attributes.source }}
          {{ end }}
        </span>
      {{ else if .Attributes.cite }}
        <span class="blockquote__cite">
          &mdash; <a href="{{ .Attributes.cite }}" target="_blank" rel="noopener">{{ .Attributes.cite }}</a>
        </span>
      {{ end }}
    </figcaption>
  {{ end }}
</figure>
{{ end }}