@use './mixins' as m;
@use './breakpoints' as b;
@use './variables' as v;

.btn {
  display: flex;
  padding: 0.75rem;
  border: 1px solid var(--ui-border-default);
  background-color: var(--bg-second);
  border-radius: 0.25rem;

  &--icon {
    @include m.flex-center();
    @include m.width-height(2.5rem, 2.5rem);
  }

  &--sidebar-hidden {
    display: none;
  }

  &--back-to-top{
    display: none;

    &.show {
      display: flex;
    }
  }
}