@use './mixins' as m;
@use './breakpoints' as b;
@use './variables' as v;

.navbar {
  &__label {
    font-size: v.$font__size--5xl;
    font-family: v.$font__family--serif;
    color: var(--text-heading);
    margin-block: 1rem;
    font-weight: 600;
    gap: 0.5rem;
  }
}

.nav {
  list-style: none;
  padding-block: 0.2rem;

  .nav {
    border-left: 1px solid var(--ui-border-default);
    padding-left: 0.25rem;
    margin-left: 0.75rem;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem;
    width: 100%;
    color: var(--text-muted);
    @include m.text-ellipsis();

    &--folder {
      font-weight: 500;
    }

    &--file {
      font-size: v.$font__size--sm;
    }

    &:is(:hover, :focus-visible) {
      color: var(--text-default);
    }

    &--active{
      color: var(--ui-link);
    }
  }
}

[data-collapse]{
  display: block;
  
  &.is-collapse {
    display: none;
  }
}