// Font
$base-font: ;
$primary-font: ;
$secondary-font: ;
$article-font: ;
$monospace-font: ;

// Color
$bg-image: ;
$bg-color: ;
$bg-primary: ;
$bg-secondary: ;

$primary-color: ;
$secondary-color: ;
$accent-color: ;

$heading-color: ;
$text-color: ;

// padding
$m0: 0;
$p1: 1rem;
$p2: 2rem;

// margin
$m0: 0;
$m1: 1rem;
$m2: 2rem;