<!-- START : MAIN HEADER -->
<header class="header">
    <button class="btn" id="btnLeftOpen"><i class="bi-list"></i></button>
    <h1>{{ site.title }}</h1>
    <nav class="header__nav">
        <button class="btn" id="btnRightOpen"><i class="bi-arrow-left-circle"></i></button>
        <button class="btn" id="btnMenuOpen"><i class="bi-arrow-up-circle"></i></button>
        <div class="header__nav-menu">
            <button class="btn" id="btnMenuClose"><i class="bi-arrow-down-circle"></i></button>
            <ul>
                <li><a href=""> Home</a></li>
                <li><a href=""> Blog</a></li>
                <li><a href=""> Portfolio</a></li>
                <li><a href=""> About</a></li>
                <li><a href=""> Help</a></li>
            </ul>
        </div>
    </nav>
</header>
<!-- END : MAIN HEADER -->