---
layout: default
---
<!-- START : MAIN CONTENT -->
<main class="post">

    <!-- START : POST CONTENT -->
    <article>
        
        <!-- START : POST HEADER -->
        <header class="post__header">
            <h1>{{ page.title }}</h1>
            <p>
                <span>{{ page.description }}</span><br>
                <span><strong>Publish on:</strong> {{ page.date | date: "%d %B %Y" }} by {{ site.author }}</span><br>
                {% if page.last_modified_at %}
                <span><strong>Last modified at:</strong> {{ page.last_modified_at | date: "%d %B %Y" }}</span><br>
                {% endif %}
                {% if page.image %}
            </p>
            <img src="{{ page.image }}" alt="{{ page.title }}">
            {% endif %}
        </header>
        <!-- END : POST HEADER -->
        
        <!-- START : POST CONTENT -->
        <section class="post__content">
            {{ content }}
        </section>
        <!-- END : POST CONTENT -->
        
        <!-- START : POST FOOTER -->
        <footer class="post__footer">
            <p><strong>Kategori:</strong> {{ page.categories | join: ", " }}</p>
            <p><strong>Tag:</strong> {{ page.tags | join: ", " }}</p>
        </footer>
        <!-- END : POST FOOTER -->
        
        <!-- START : POST NAV -->
        <aside class="post__right">
            <button class="btn" id="btnRightClose">➡️</button>
            <nav class="post__nav">
                
                <!-- START : TOC -->
                <div class="post__nav-toc">
                    <h4>Daftar Isi</h4>
                    {% include components/toc.html html=content %}
                </div>
                <!-- END : TOC -->
                
                <!-- START : RELATED -->
                <div class="post__nav-related">
                    <h4>Related</h4>
                    {% for category in page.categories %}
                    <ul>
                        {% for post in site.posts %}
                        {% if post.categories contains category and post.url != page.url %}
                        <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </div>
                <!-- END : RELATED -->
                
            </nav>
        </aside>
        <!-- END : POST NAV -->
        
    </article>
    <!-- END : POST CONTENT -->
</main>
<!-- END : MAIN CONTENT -->