---
layout: page
title: Home
---
<div class="home-page">
    <header>
        <div class="header-top">
            {% include partials/brand.html %}
            {% include partials/nav-header.html %}
        </div>

        <section class="hero">
            <div class="welcome">
                {% for hero in site.data.home-content.hero %}
                <h2>{{ hero.heading }}</h2>
                <p>{{ hero.paragraph }}</p>
                {% endfor %}
            </div>
            <div class="cta">
                <a href="#">Cek Isinya, Tapi Pelan-Pelan</a>
                <a href="{{ site.discord }}">Join Discordku, Biar Nggak Kesepian</a>
            </div>
        </section>

    </header>
    <main>
        <section class="skill">
            <div class="skill__intro">
                {% for skill_intro in site.data.home-content.skill_intro %}
                <h3>{{ skill_intro.heading }}</h3>
                <p>{{ skill_intro.paragraph }}</p>
                {% endfor %}
            </div>
            <div class="skill__card flex-justify">
                {% for skill in site.data.home-content.skill %}
                <div class="skill__card-item">
                    <img src="https://picsum.photos/150" alt="{{ skill.name }}">
                    <h4>{{ skill.name }}</h4>
                    <p>{{ skill.description }}</p>
                </div>
                {% endfor %}
            </div>
        </section>
        
        <section class="blog">
            <div class="blog__intro">
                {% for blog_intro in site.data.home-content.blog_intro %}
                <h3>{{ blog_intro.heading }}</h3>
                <p>{{ blog_intro.paragraph }}</p>
                {% endfor %}
            </div>
    
            {% assign categories = site.categories %}
            {% for category in categories %}
            <div class="blog__card">
                <h3>{{ category[0] }}</h3>
                <div class="blog__card-category flex-justify">
                    {% for post in category[1] %}
                    <article class="blog__card-item">
                        <h4>{{ post.title }}</h4>
                        <p>{{ post.excerpt | strip_html | truncate: 150 }}</p>
                        <a href="{{ post.url | relative_url }}">Read more...</a>
                    </article>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </section>
    </main>
</div>