@use "../abstracts/variables" as v;

.chroma {
  color: var(--code-fg-default);
  background-color: var(--code-bg-default);
  border: 1px solid var(--border-second);
  overflow-y: auto;
  font-size: v.$font__size--sm;
  font-family: v.$font__family--mono;
  border-radius: 0.25rem;

  .bg {
    color: var(--code-fg-default);
    background-color: var(--code-bg-default);
  }

  // Error
  .err {
    color: var(--code-error);
  }

  // LineLink
  .lnlinks {
    outline: none;
    text-decoration: none;
    color: inherit;
  }

  // LineTableTD
  .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
  }

  // LineTable
  .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }

  // LineHighlight
  .hl {
    background-color: var(--code-line-highlight);
  }

  // LineNumbersTable
  .lnt {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: var(--code-line-number-muted);
  }

  // LineNumbers
  .ln {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: var(--code-line-number);
    background-color: var(--bg-second);
    position: sticky;
    left: 0;
  }

  // Line
  .line {
    display: flex;
  }
  
  // Keyword
  .k {
    color: var(--code-keyword);
  }
  
  // KeywordConstant
  .kc {
    color: var(--code-keyword-constant);
  }
  
  // KeywordDeclaration
  .kd {
    color: var(--code-keyword);
  }
  
  // KeywordNamespace
  .kn {
    color: var(--code-keyword);
  }
  
  // KeywordPseudo
  .kp {
    color: var(--code-keyword-pseudo);
  }
  
  // KeywordReserved
  .kr {
    color: var(--code-keyword);
  }
  
  // KeywordType
  .kt {
    color: var(--code-keyword);
  }
  
  // NameClass
  .nc {
    color: var(--code-name-class);
    font-weight: bold;
  }
  
  // NameConstant
  .no {
    color: var(--code-name-constant);
    font-weight: bold;
  }
  
  // NameDecorator
  .nd {
    color: var(--code-name-decorator);
    font-weight: bold;
  }
  
  // NameEntity
  .ni {
    color: var(--code-name-entity);
  }
  
  // NameException
  .ne {
    color: var(--code-name-exception);
    font-weight: bold;
  }
  
  // NameFunction
  .nf {
    color: var(--code-name-function);
    font-weight: bold;
  }
  
  // NameLabel
  .nl {
    color: var(--code-name-label);
    font-weight: bold;
  }
  
  // NameNamespace
  .nn {
    color: var(--code-name-namespace);
  }
  
  // NameProperty
  .py {
    color: var(--code-name-property);
  }
  
  // NameTag
  .nt {
    color: var(--code-name-tag);
  }
  
  // NameVariable
  .nv {
    color: var(--code-name-variable);
  }
  
  // Literal
  .l {
    color: var(--code-literal);
  }
  
  // LiteralDate
  .ld {
    color: var(--code-literal);
  }
  
  // LiteralString
  .s {
    color: var(--code-literal);
  }
  
  // LiteralStringAffix
  .sa {
    color: var(--code-literal);
  }
  
  // LiteralStringBacktick
  .sb {
    color: var(--code-literal);
  }
  
  // LiteralStringChar
  .sc {
    color: var(--code-literal);
  }
  
  // LiteralStringDelimiter
  .dl {
    color: var(--code-literal-alt);
  }
  
  // LiteralStringDoc
  .sd {
    color: var(--code-literal);
  }
  
  // LiteralStringDouble
  .s2 {
    color: var(--code-literal);
  }
  
  // LiteralStringEscape
  .se {
    color: var(--code-literal-alt);
  }
  
  // LiteralStringHeredoc
  .sh {
    color: var(--code-literal);
  }
  
  // LiteralStringInterpol
  .si {
    color: var(--code-literal);
  }
  
  // LiteralStringOther
  .sx {
    color: var(--code-literal);
  }
  
  // LiteralStringRegex
  .sr {
    color: var(--code-literal-alt);
  }
  
  // LiteralStringSingle
  .s1 {
    color: var(--code-literal);
  }
  
  // LiteralStringSymbol
  .ss {
    color: var(--code-literal);
  }
  
  // LiteralNumber
  .m {
    color: var(--code-literal);
  }
  
  // LiteralNumberBin
  .mb {
    color: var(--code-literal);
  }
  
  // LiteralNumberFloat
  .mf {
    color: var(--code-literal);
  }
  
  // LiteralNumberHex
  .mh {
    color: var(--code-literal);
  }
  
  // LiteralNumberInteger
  .mi {
    color: var(--code-literal);
  }
  
  // LiteralNumberIntegerLong
  .il {
    color: var(--code-literal);
  }
  
  // LiteralNumberOct
  .mo {
    color: var(--code-literal);
  }
  
  // Operator
  .o {
    color: var(--code-operator);
    font-weight: bold;
  }
  
  // OperatorWord
  .ow {
    color: var(--code-operator);
    font-weight: bold;
  }
  
  // Comment
  .c {
    color: var(--code-comment);
    font-style: italic;
  }
  
  // CommentHashbang
  .ch {
    color: var(--code-comment);
    font-style: italic;
  }
  
  // CommentMultiline
  .cm {
    color: var(--code-comment);
    font-style: italic;
  }
  
  // CommentSingle
  .c1 {
    color: var(--code-comment);
    font-style: italic;
  }
  
  // CommentSpecial
  .cs {
    color: var(--code-comment-strong);
    font-weight: bold;
    font-style: italic;
  }
  
  // CommentPreproc
  .cp {
    color: var(--code-comment-strong);
    font-weight: bold;
    font-style: italic;
  }
  
  // CommentPreprocFile
  .cpf {
    color: var(--code-comment-strong);
    font-weight: bold;
    font-style: italic;
  }
  
  // GenericDeleted
  .gd {
    color: var(--code-generic-deleted-fg);
    background-color: var(--code-generic-deleted-bg);
  }
  
  // GenericEmph
  .ge {
    font-style: italic;
  }
  
  // GenericError
  .gr {
    color: var(--code-error);
  }
  
  // GenericInserted
  .gi {
    color: var(--code-generic-inserted-fg);
    background-color: var(--code-generic-inserted-bg);
  }
  
  // GenericOutput
  .go {
    color: var(--code-comment);
  }
  
  // GenericPrompt
  .gp {
    color: var(--code-comment);
  }
  
  // GenericStrong
  .gs {
    font-weight: bold;
  }
  
  // GenericTraceback
  .gt {
    color: var(--code-traceback);
  }
  
  // GenericUnderline
  .gl {
    text-decoration: underline;
  }
  
  // TextWhitespace
  .w {
    color: var(--code-line-number-muted);
  }
}