// header.scss
@use '../utils/variables' as var;
@use '../utils/mixins' as mix;
.main-header {
    #dropDownContainer {
        background-color: var(--secondary-bg);
        position: absolute;
        padding-top: 30px;
        width: 100%;
        top: -300px;
        text-align: center;

        border-bottom: 3px solid var(--border);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0px 0px 50px 50px var(--shadow);

        transition: top 1s ease;

        ul {
            @include mix.flex-justify();
            list-style: none;
            padding: 5px;
            li {
                padding: 5px;
            }
        }
        
        &.dropDown {
            top: 0;
        }
    }
    .btn-nav {
        @include mix.flex-justify();
        flex-direction: column;
        gap: 10px;
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
}