:root[data-theme=dark]{
    --primary-bg: ;
    --primary-bg-gradien: ;
    --primary-text: ;
    --primary-accent: ;
    
    --tertiary-bg: ;
    --tertiary-bg-gradien: ;
    --tertiary-text: ;
    --tertiary-accent: ;
    
    --secondary-bg: ;
    --secondary-bg-gradien: ;
    --secondary-text: ;
    --secondary-accent: ;
    
    --additional-bg: ;
    --additional-bg-gradien: ;
    --additional-text: ;
    --additional-accent: ;
    
    --link:;
    --link-hover:;
    --muted: ;
    --active:;
    --visited:;
    --warning:;
    --danger:;
    --accent:;
    
    --border:;
    
    --shadow: ;
    --shadow-hover: ;
    --shadow-inset: ;
}

:root[data-theme=light]{
    --primary-bg: ;
    --primary-bg-gradien: ;
    --primary-text: ;
    --primary-accent: ;
    
    --tertiary-bg: ;
    --tertiary-bg-gradien: ;
    --tertiary-text: ;
    --tertiary-accent: ;
    
    --secondary-bg: ;
    --secondary-bg-gradien: ;
    --secondary-text: ;
    --secondary-accent: ;
    
    --additional-bg: ;
    --additional-bg-gradien: ;
    --additional-text: ;
    --additional-accent: ;
    
    --link:;
    --link-hover:;
    --muted: ;
    --active:;
    --visited:;
    --warning:;
    --danger:;
    --accent:;
    
    --border:;
    
    --shadow: ;
    --shadow-hover: ;
    --shadow-inset: ;
}