<button class="btn btn--icon" data-toggle-offcanvas="sidebarFirst">
  <i class="bi bi-list"></i>
</button>

<button class="btn btn--icon" data-toggle-offcanvas="sidebarThird">
  <i class="bi bi-folder"></i>
</button>

<a href="{{ site.BaseURL | absURL }}" class="btn btn--icon">
  <i class="bi bi-house"></i>
</a>

<button class="btn btn--icon" id="switchTheme">
  <i class="bi bi-sun"></i>
</button>

<button class="btn btn--icon" data-toggle-offcanvas="sidebarSecond">
  <div class="bi bi-book"></div>
</button>