<nav class="navbar">
  <button class="navbar__label" id="toggle-all-collapse" aria-label="{{ i18n "directory" }}">
    <i class="bi bi-arrows-expand"></i>
    <span>{{ i18n "directory" }}</span>
  </button>
  <ul class="nav nav--tree">
    {{- template "tree_view" .Site.Home -}}
  </ul>
</nav>

{{- define "tree_view" -}}
  {{- if .Pages -}}

    {{/* |===========| Iterasi Folder Dulu |===========| */}}
    {{- range .Pages -}}
      {{- if .IsSection -}}
        <li class="nav__item">
          <button class="nav__link nav__link--folder" data-toggle-collapse="{{- .RelPermalink | md5 -}}">
            <i class="bi bi-folder2"></i>
            <span>{{- .LinkTitle -}}</span>
          </button>
          <ul class="nav nav--tree" data-collapse="{{- .RelPermalink | md5 -}}">
            {{- template "tree_view" . -}}
          </ul>
        </li>
      {{- end -}}
    {{- end -}}

    {{/* |===========| Iterasi File Setelahnya |===========| */}}
    {{- range .Pages -}}
      {{- if .IsPage -}}
        {{- if .File.BaseFileName -}}
          <li class="nav__item">
            <a class="nav__link nav__link--file" href="{{- .RelPermalink -}}" data-href="{{- .RelPermalink -}}">
              <i class="bi bi-file-text-fill"></i>
              <span>{{- .LinkTitle -}}</span>
            </a>
          </li>
        {{- end -}}
      {{- end -}}
    {{- end -}}

  {{- end -}}
{{- end -}}