@use '../abstracts/breakpoints' as b;
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.btn {
  border: 1px solid transparent;
  color: var(--text-title);
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: var(--shadow-sm);
  background-color: var(--bg-second);
  
  @include m.transition(box-shadow, transform, border-color);

  &:is(:hover, :active, :focus-visible){
    box-shadow: var(--shadow-md);
    border-color: var(--border-first);
    background-color: var(--bg-third);
  }

  &--icon {
    @include m.flex-center();
    @include m.width-height(2.5rem, 2.5rem);
  }

  &--social {
    @include m.width-height(3rem, 3rem);
    font-size: v.$font__size--5xl;
    border-radius: 50%;
  }

  &--back-to-top {
    display: none;
    &.show {
      display: flex;
    }
  }
}