@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.sidebar {
  width: 280px;
  position: sticky;
  display: block;
  top: 0;
  left: 0;
  height: 100dvh;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--bg-second);
  border-right: 3px solid var(--border-first);

  @include m.transition(transform, visibility);

  &__header {
    @include m.flex-between();
    padding: 1rem;
    position: relative;
  }

  &--offcanvas {
    position: fixed;
    visibility: hidden;
    transform: translateX(-100%);

    &.is-active {
      visibility: visible;
      transform: translateX(0%);
    }
  }

  @include b.max(md) {
    padding-bottom: 4.5rem;
    width: 360px;
  }
}

// BRAND
%placehold-brand {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.brand {
  @extend %placehold-brand;

  &__logo {
    @include m.width-height(150px, 150px);
    border-radius: 50%;
    border: 3px solid var(--border-second);
    box-shadow: var(--shadow-sm);
  }

  &__caption {
    @extend %placehold-brand;
  }

  &__title {
    font-size: v.$font__size--8xl;
    color: var(--text-title);
    font-weight: 800;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
  }

  &__subtitle {
    font-size: v.$font__size--sm;
    font-style: normal;
  }
}
