<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}" data-theme="">
<head>
  {{ partial "head/head.html" . }}
</head>
<body class="layout">
  <aside 

    class="u-container sidebar sidebar--left" 
    role="navigation" 
    aria-label="Main Navigation" 
    data-sidebar="sidebarLeft"

  >
    {{ partial "sidebar-left.html" . }}
  </aside>
  
  <div class="main-area">
    <div class="u-container markdown">

      <header class="header header--main">
        {{ partial "header.html" . }}
      </header>
      <main class="main">
        {{ block "main" . }}{{ end }}
      </main>
      <footer class="footer">
        {{ partial "footer.html" . }}
      </footer>
      
    </div>
  </div>

  {{ $excluded := .Site.Params.toc_exclude_sections | default (slice) }}
  {{ $showToc := and (.TableOfContents) (not (in $excluded .Section)) }}
  {{ if not (or (eq .Params.toc false) (not $showToc)) }}
    <aside 
    
      class="u-container sidebar sidebar--right" 
      role="complementary" 
      aria-label="Table Of Contents" 
      data-sidebar="sidebarRight"
    
    >
      {{ partial "sidebar-right.html" . }}
    </aside>
  {{ end }}
</body>
</html>