<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}" data-theme="dark">
<head>
  {{ partial "head.html" . }}
</head>
<body class="layout">
  <aside class="sidebar sidebar--left" data-sidebar="sidebarLeft">
    {{ partial "sidebar-left.html" . }}
  </aside>

  <main class="main">

    <header class="u-container u-flex-center header">
      {{ partial "header.html" . }}
    </header>

    <article class="u-container markdown">
      {{ block "main" . }}{{ end }}
    </article>

    <footer class="u-container footer">
      {{ partial "footer.html" . }}
    </footer>
    
  </main>

  {{ if or .Params.toc .Site.Params.toc }}
    <aside class="sidebar sidebar--right" data-sidebar="sidebarRight">
      {{ partial "sidebar-right.html" . }}
    </aside>
  {{ end }}
</body>
</html>