// mixins.scss
@use 'variables' as var;

// MIXINS MEDIA QUERY 
@mixin respond-to($breakpoint) {
    @if $breakpoint == xs {
        @media (min-width: #{var.$breakpoint-xs}) { @content; }
    } @else if $breakpoint == sm {
        @media (min-width: #{var.$breakpoint-sm}) { @content; }
    } @else if $breakpoint == md {
        @media (min-width: #{var.$breakpoint-md}) { @content; }
    } @else if $breakpoint == lg {
        @media (min-width: #{var.$breakpoint-lg}) { @content; }
    } @else if $breakpoint == xl {
        @media (min-width: #{var.$breakpoint-xl}) { @content; }
    } @else if $breakpoint == xxl {
        @media (min-width: #{var.$breakpoint-xll}) { @content; }
    } @else{
        @error "Unknown breakpoint: #{$breakpoint}";
    }
}

// GRID SETTING
@mixin grid-setting($columns: auto, $rows: auto, $gap: 0px) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  gap: $gap;
}

// WIDTH AND HEIGHT
@mixin area-calculation($width: auto, $height: auto) {
    width: $width;
    height: $height;
}

// FLEX JUSTIFY
@mixin flex-justify($justify: space-between, $align-items: center, $gap: 0px, $direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align-items;
    gap: $gap;
}

// HOVER SCALE
@mixin hover-scale($scale: 1.1, $time-scale: 0.3s, $ease: ease-in-out, $opacity: 1) {
    transition: all $time-scale $ease;
    &:hover {
        transform: scale($scale);
        opacity: $opacity;
    }
}

// ANIMATE
@mixin animate($name, $duration: 1s, $timing: ease, $delay: 0s, $iteration: 1, $direction: normal) {
    animation-name: $name;
    animation-duration: $duration;
    animation-timing-function: $timing;
    animation-delay: $delay;
    animation-iteration-count: $iteration;
    animation-direction: $direction;
}

// SHADOW
@mixin shadow($level: 1, $scale: 1) {
    @if $level == 1 {
        box-shadow: 
            0px (1px * $scale) (3px * $scale) rgba(0, 0, 0, 0.12), 
            0px (1px * $scale) (2px * $scale) rgba(0, 0, 0, 0.24);
    } @else if $level == 2 {
        box-shadow: 
            0px (3px * $scale) (6px * $scale) rgba(0, 0, 0, 0.16), 
            0px (3px * $scale) (6px * $scale) rgba(0, 0, 0, 0.23);
    } @else if $level == 3 {
        box-shadow: 
            0px (10px * $scale) (20px * $scale) rgba(0, 0, 0, 0.19), 
            0px (6px * $scale) (6px * $scale) rgba(0, 0, 0, 0.23);
    } @else if $level == 4 {
        box-shadow: 
            0px (10px * $scale) (20px * $scale) rgba(0, 0, 0, 0.22), 
            0px (9px * $scale) (9px * $scale) rgba(0, 0, 0, 0.23);
    } @else if $level == 5 {
        box-shadow: 
            0px (14px * $scale) (28px * $scale) rgba(0, 0, 0, 0.25), 
            0px (10px * $scale) (10px * $scale) rgba(0, 0, 0, 0.23);
    }
}

// GRADIENT
@mixin gradient($start-color: #3498db, $end-color: #2ecc71, $direction: to right) {
    background: linear-gradient($direction, $start-color, $end-color);
}

// CUSTOM CURSOR 
@mixin custom-cursor($cursor-url: url('cursor.png'), $fallback: pointer) {
    cursor: $cursor-url, $fallback;
}

// CIRCLE 
@mixin circular($size: 50px) {
    width: $size;
    height: $size;
    border-radius: 50%;
}

// POSITIONING 
@mixin position($type: absolute, $top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: $type;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

// FULL SCREEN 
@mixin full-screen($top: 0, $left: 0) {
    position: fixed;
    top: $top;
    left: $left;
    width: 100vw;
    height: 100vh;
}

// BACKGROUND IMAGE 
@mixin bg-cover($image: none, $position: center) {
    background-image: $image;
    background-size: cover;
    background-position: $position;
    background-repeat: no-repeat;
}

// SPINER
@mixin spinner($size: 20px) {
    width: $size;
    height: $size;
    border-radius: 50%;
    animation: spin 5s linear infinite;

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
}

// Debuging 
@mixin debug{
    * {
        border: 0.1px dashed red;
    }
}
@mixin debug-size {
    * {
        background-color: rgba(255, 0, 0, 0.081);
        content: attr(class);
        display: block;
        padding: 5px;
        border: 1px solid rgba(255, 166, 0, 0.508);
    }
}