<header class="header">
    <a class="header__brand" href="{{ '/' | relative_url }}">
        <img class="header__brand-logo" src="https://placehold.co/50" alt="Logo {{ site.title }}">
        <h1 class="header__brand-title">Masputrawae</h1>
    </a>

    <nav class="header__nav">
        <button class="btn" onclick="window.location.href='{{ '/search.html' | relative_url }}';"><i class="bi-search"></i></button>
        <button class="btn" id="navMenuOpen" ><i class="bi-sort-down-alt"></i></button>
        <div class="header__nav-menu">
            <button class="btn" id="navMenuClose"><i class="bi-x"></i></button>
            <ul>
                <li><a href="{{ '/' | relative_url }}"> Home</a></li>
                <li><a href="{{ '/blog.html' | relative_url }}"> Blog</a></li>
                <li><a href="{{ '/portfolio.html' | relative_url }}"> Portfolio</a></li>
                <li><a href="{{ '/gallery.html' | relative_url }}"> Gallery</a></li>
                <li><a href="{{ '/about.html' | relative_url }}"> About</a></li>
            </ul>
        </div>
    </nav>
</header>