<header class="layout__header">

    <button class="btn btn-menu">
        <i class="bi-list"></i>
    </button>

    <button class="btn btn-menu">
        <i class="bi-search"></i>
    </button>

    <button class="btn btn-menu">
        <i class="bi-menu-down"></i>
    </button>

    <div class="search-bar">
        {% include tools/search.html %}
    </div>

    <nav class="nav--menu">
        
        <button class="btn btn-menu" id="btnMenuClose">
            <i class="bi-x"></i>
        </button>

        <ul class="nav-list">
            <li><a href="{{ '/' | relative_url }}"> Home</a></li>
            <li><a href="{{ '/blog.html' | relative_url }}"> Blog</a></li>
            <li><a href="{{ '/portfolio.html' | relative_url }}"> Portfolio</a></li>
            <li><a href="{{ '/gallery.html' | relative_url }}"> Gallery</a></li>
            <li><a href="{{ '/about.html' | relative_url }}"> About</a></li>
        </ul>

    </nav>
</header>