<aside class="main__right">
    <button class="btn" id="btnRightSideClose"><i class="bi-x"></i></button>
    <nav class="main__right-nav">
        <div class="main__right-nav--toc">
            <h4>Daftar Isi: </h4>
            {% include components/toc.html html=content %}
        </div>

        <div class="main__right-nav--categories">
            <h4>Artikel Terkait Dengan Kategori:</h4>
            {% assign categories = page.categories %}
            {% if categories.size > 0 %}
            {% for category in categories %}
            <h5>{{ category }}</h5>
            <div>
                {% assign related_posts = site.categories[category] %}
                {% for post in related_posts %}
                {% if post.url != page.url %}
                    <a href="{{ post.url }}">{{ post.title }}</a>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="main__right-nav--tags">
            <h4>Artikel Terkait Dengan Tag:</h4>
            {% assign tags = page.tags %}
            {% if tags.size > 0 %}
            {% for tag in tags %}
            <h5>{{ tag }}</h5>
            <div>
                {% assign related_posts = site.tags[tag] %}
                {% for post in related_posts %}
                {% if post.url != page.url %}
                <a href="{{ post.url }}">{{ post.title }}</a>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </nav>
</aside>