:root[data-theme=dark] {
    --background-color: #121212;
    
    --primary-color: #1e88e5;
    --secondary-color: #7b1fa2;
    --tertiary-color: #2c2c2c;

    --accent-color: #b71c1c;
    --text-color: #dcdcdc;
}

:root[data-theme=light] {
    --background-color: #fafafa;
    
    --primary-color: #0d47a1;
    --secondary-color: #8e24aa;
    --tertiary-color: #e0e0e0;

    --accent-color: #b71c1c;
    --text-color: #212121;
}
