---
layout: default
---
<div class="post">
    <!-- START : SIDEBAR -->
    <aside class="sidebar">
        <div class="brand">
            <img src="" alt="">
            <a href="">
                <h1></h1>
                <p></p>
            </a>
        </div>
        <nav class="tabs">
            <div class="tab-pane active" id="tabMainMenu">
                <!-- Content -->
            </div>
            <div class="tab-pane" id="tabCategories">
                <!-- Content -->
            </div>
            <div class="tab-pane" id="tabSearch">
                <!-- Content -->
            </div>
            <div class="tab-pane" id="tabToc">
                <!-- Content -->
            </div>
            <div class="tab-pane" id="tabRelated">
                <!-- Content -->
            </div>
        </nav>
    </aside>
    <!-- END : SIDEBAR -->
    <!-- START : MAIN -->
    <div class="wrapper-main">
        <header>
            <button class="btn" id="btnOpenSidebar">
                <i class="bi-list"></i>
            </button>
            <h1>Article Title</h1>
        </header>
        
        <article>
            
        </article>
        
        <footer>
            
        </footer>
    </div>
    <!-- END : MAIN -->
</div>