---
layout: default
---
<div class="post">
    <!-- START : SIDEBAR -->
    <aside class="sidebar" class="leftSide">
        <div class="brand">
            <img src="" alt="">
            <a href="">
                <h1></h1>
                <p></p>
            </a>
        </div>
        <nav class="tabs">
            <div class="tab-pane active" id="tabMainMenu">
                <h3>Main Menu</h3>
                <ul>
                    <!-- * -->
                    <li><a href=""> Home</a></li>
                    <li><a href=""> Blog</a></li>
                    <li><a href=""> Portfolio</a></li>
                    <li><a href=""> About</a></li>
                    <li><a href=""> Help</a></li>
                    <!-- * -->
                </ul>
            </div>
            <div class="tab-pane" id="tabCategories">
                <!-- Content -->
            </div>
            <div class="tab-pane" id="tabSearch">
                <!-- Content -->
            </div>
            <div class="tab-pane" id="tabToc">
                <!-- Content -->
            </div>
            <div class="tab-pane" id="tabRelated">
                <!-- Content -->
            </div>
            <div class="btn-tabs">
                <button class="btn btn-tab" id="switchTheme">
                    <i class="bi bi-sun"></i>
                </button>
                <button class="btn btn-tab" data-tab="tabCategories">
                    <i class="bi bi-archive"></i>
                </button>
                <button class="btn btn-tab" data-tab="tabMainMenu">
                    <i class="bi bi-house-door"></i>
                </button>
                <button class="btn btn-tab" data-tab="tabSearch">
                    <i class="bi bi-search"></i>
                </button>
                <button class="btn btn-tab" data-tab="tabToc">
                    <i class="bi bi-book"></i>
                </button>
                <button class="btn btn-tab" data-tab="tabRelated">
                    <i class="bi bi-link-45deg"></i>
                </button>
                <button class="btn btn-tab" id="btnLeftClose">
                    <i class="bi bi-x-circle"></i>
                </button>
            </div>
        </nav>
    </aside>
    <!-- END : SIDEBAR -->
    
    <!-- START : MAIN -->
    <div class="wrapper-main">
        <header>
            <div class="top-nav">
                <button class="btn" id="btnOpenSidebar">
                    <i class="bi-list"></i>
                </button>
                <button class="btn" id="btnOpenToc">
                    <i class="bi-book"></i>
                </button>
            </div>
            <h1>Article Title</h1>
        </header>
        
        <article>
            {{ content }}
        </article>
        
        <footer>
            
        </footer>
    </div>
    <!-- END : MAIN -->
    
    <!-- START : Menu Modals -->
    <div class="toc-menu">
        
    </div>
    <!-- START : Menu Modals -->
</div>