---
layout: default
---
<body class="layout layout-page">
    <div class="page">
        <header class="page__header">
            <div class="page__header-brand">
                {% include components/brand.html %}
            </div>
            <nav class="pages__header-nav">
                <button class="btn" id="btnMenuOpen"><i class="bi-list"></i></button>
                <div class="page__header-nav--menu">
                    <button class="btn" id="btnMenuClose"><i class="bi-x"></i></button>
                    {% include components/main-nav.html %}
                </div>
            </nav>
        </header>

        <main class="page__content">
            {{ content }}
        </main>

        <footer class="footer page__footer">
            {% include partials/footer.html %}
        </footer>
    </div>
</body>