//utils
@use '../utils/mixins' as mix;
@use '../utils/variables' as var;

:root[data-theme="dark"] {
    --base-font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Arial", sans-serif;
    --monospace-font: "Courier New", monospace;
    --bg-color: #1A1A2E; /* Biru Tua */
    --primary-color: #E94560; /* Merah Muda Tua */
    --secondary-color: #0F3460; /* Biru Gelap */
    --accent-color: #F9D342; /* Kuning Hangat */
    --text-color: #EAEAEA; /* Putih Pudar */
    --additional: #53354A; /* Ungu Tua */
  }
  
  :root[data-theme="light"] {
    --base-font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Arial", sans-serif;
    --monospace-font: "Courier New", monospace;
    --bg-color: #F3F4ED; /* Putih Kehangatan */
    --primary-color: #3A6351; /* Hijau Zaitun */
    --secondary-color: #A0937D; /* Cokelat Muda */
    --accent-color: #D9BF77; /* Kuning Emas Lembut */
    --text-color: #333333; /* Abu-abu Tua */
    --additional: #E3D5B5; /* Beige Lembut */
  }