<header class="layout__header">
    <a class="header__brand" href="{{ '/' | relative_url }}">
        <img src="https://picsum.photos/50" alt="Logo {{ site.name }}">
        <h1>Masputrawae</h1>
    </a>

    <nav class="header__nav--posts">

        <button class="btn btn-menu--mobile" id="btnMenuOpen">
            <i class="bi-list"></i>
        </button>
    </nav>

    <nav class="header__nav--posts">
        <div class="nav__menu--mobile">
            <button class="btn btn-menu--mobile" id="btnMenuClose">
                <i class="bi-x"></i>
            </button>

            <form action="" method="get">
                <input type="search" name="search" id="search">
                <button type="submit">
                    <i class="bi-search"></i>
                </button>
            </form>

            {% for category in site.categories %}
            <div class="nav__menu">
                <button class="dropdown-toggle">{{ category[0] }}</button>
    
                <ul class="dropdown-menu">
                    {% for post in category[1] %}
                        <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </nav>
</header>