<header class="layout__header">
    <nav class="header__nav--page">

        <ul class="nav__list">
            <li>
                <a class="nav__link" href="">
                    <span class="nav__link--title">Blog</span>
                    <i class="nav__link--icon bi-"></i>
                </a>
            </li>
            <li>
                <a class="nav__link" href="">
                    <span class="nav__link--title">Portfolio</span>
                    <i class="nav__link--icon bi-"></i>
                </a>
            </li>
        </ul>
        <a href="">
            <img src="https://picsum.photos/50" alt="Logo {{ site.name }}">
        </a>
        <ul class="nav__list">
            <li>
                <a class="nav__link" href="">
                    <span class="nav__link--title">About</span>
                    <i class="nav__link--icon bi-"></i>
                </a>
            </li>
            <li>
                <a class="nav__link" href="">
                    <span class="nav__link--title">Help</span>
                    <i class="nav__link--icon bi-"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>