<aside class="leftside">

    <header class="leftside__header">
        <img class="leftside__header-logo" src="https://placehold.co/50" alt="">
        <a class="leftside__header-info" href="{{ '/' | relative_url }}">
            <h2>{{ site.title }}</h2>
            <small>{{ site.description }}</small>
        </a>
        <button class="btn" id="btnLeftSideClose">
            <i class="bi-x"></i>
        </button>
    </header>

    <nav class="leftside__nav">
        {% assign categories = site.categories %}
        {% for category in categories %}
            <div class="leftside__nav-categories">
                <h3>{{ category[0] }}</h3>
                <ul>
                    {% for post in category[1] %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </nav>
</aside>