// Utils
@use '../utils/mixins' as mix;
@use '../utils/variables' as var;

.main-container {
    header {
        @include mix.flex-justify();
        position: fixed;
        background-color: none;
        padding: 10px;
        bottom: 0;
        right: 0;
        z-index: 1;

        .btn-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5px;
            gap: 15px;
        }

        @media (min-width: 1024px) {
            border-bottom: 3px solid var(--border);
            background-color: var(--secondary-bg);
            position: relative;
            .btn-header {
                flex-direction: row;
            }

            .mobile {
                display: none;
            }
        }
    }

    // Default state: Sidebar tertutup pada layar kecil
    #navbar {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: var(--secondary-bg);
        border-bottom: 3px solid var(--border);
        padding-top: 20px;
        transition: top 0.5s ease-in-out;
        position: fixed;
        width: 100%;
        top: -200px;
        left: 0;
        right: 0;

        box-shadow:
            2px 2px 50px 50px var(--shadow),
            -2px -2px 50px 50px var(--shadow);

        form {
            padding-top: 10px;
            @include mix.flex-justify(center);
            gap: 8px;

            button {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .nav-collaps {
            list-style: none;
            @include mix.flex-justify(space-around);
            padding: 0;
        }

        // Menyembunyikan navigasi pada layar kecil
        &.collapsed {
            top: 0;
        }

        @media (min-width: 1024px) {
            all: unset; // Reset semua properti CSS untuk desain desktop
            position: relative;
            top: 0;
            @include mix.flex-justify();

            .nav-collaps {
                @include mix.flex-justify();
                gap: 25px;
                margin-left: 50px;
            }
        }
    }
}
