// UTILS
@use '../utils/variables' as var;
@use '../utils/mixins' as mix;


.header__nav-link {
    display: inline-block;
    color: var(--accent-color);
    opacity: 0.7;
    text-decoration: none;
    @include mix.hover-scale(1.2);
}