<button class="u-flex-center btn btn--icon btn--hidden-desktop" data-toggle="sidebarLeft" aria-label="Toggle Navigation">
  {{ partial "icons.html" "icon--hamburger" }}
</button>

<a href="{{ site.BaseURL | absURL }}" class="u-flex-center btn btn--icon" aria-label="{{ site.Title }}">
  {{ partial "icons.html" "icon--home" }}
</a>

<button class="u-flex-center btn btn--icon" id="switchThemes" aria-label="Switch Themes">
  {{ partial "icons.html" "icon--moon" }}
  {{ partial "icons.html" "icon--sun" }}
</button>

{{ if or .Params.toc site.Params.toc }}
  <button class="u-flex-center btn btn--icon" data-toggle="sidebarRight" aria-label="Toggle Table Of Content">
    {{ partial "icons.html" "icon--book" }}
  </button>
{{ end }}

<button class="u-flex-center btn btn--icon btn--back-to-top" id="backToTop" aria-label="Back To Top">
  {{ partial "icons.html" "icon--chevron-top" }}
</button>