<header class="u-container u-flex-between sidebar__header">
  <form class="u-flex-center search" id="search" onsubmit="handleSearch(event)" method="get" id="search" data-search-url="{{ "search.json" | relURL }}">
    {{ partial "icons.html" "icon--search" }}
    <input class="search__input" type="search" id="search-input" name="query" placeholder="Search...." autocomplete="off" autocorrect="off" spellcheck="false">
  </form>
  <button class="u-flex-center btn btn--icon" id="allCollapse" aria-label="Toggle Collapse">
    {{ partial "icons.html" "icon--folder" }}
  </button>
</header>

{{/* |===========| START: SEARCH RESULTS |===========| */}}
<nav class="u-container navbar navbar--search" id="resultsPanel" style="display: none;">
  <ul class="nav" id="results"></ul>
</nav>
{{/* |===========| END: SEARCH RESULTS |===========| */}}

{{/* |===========| START: DIRECTORY NAVIGATION |===========| */}}
<nav class="u-container navbar">
  <ul class="nav">
    {{- template "tree_view" .Site.Home -}}
  </ul>
</nav>
{{/* |===========| START: DIRECTORY NAVIGATION |===========| */}}

{{- define "tree_view" -}}
  {{- if .Pages -}}

    {{/* |===========| Iterasi Folder Dulu |===========| */}}
    {{- range .Pages -}}
      {{- if .IsSection -}}
        <li class="nav__item">
          <button class="nav__link nav__link--folder" data-toggle-collapse="{{- .RelPermalink | md5 -}}">{{- .LinkTitle -}}</button>
          <ul class="nav collapse" data-collapse="{{- .RelPermalink | md5 -}}">
            {{- template "tree_view" . -}}
          </ul>
        </li>
      {{- end -}}
    {{- end -}}

    {{/* |===========| Iterasi File Setelahnya |===========| */}}
    {{- range .Pages -}}
      {{- if .IsPage -}}
        {{- if .File.BaseFileName -}}
          <li class="nav__item">
            <a class="nav__link nav__link--file" href="{{- .RelPermalink -}}" data-href="{{- .RelPermalink -}}">{{- .LinkTitle -}}</a>
          </li>
        {{- end -}}
      {{- end -}}
    {{- end -}}

  {{- end -}}
{{- end -}}
{{/* =============== END: SIDEBAR LEFT =============== */}}