.container {
    display: grid;
    grid-template-columns: 0px 1fr;
    grid-template-rows: auto;
    transition: grid-template-columns 1s ease;

    .left-side {
        position: relative;
        grid-column: 1;
        grid-row: 1;
        left: -250px;
        transition: left 1s ease;
    }

    .main-container {
        grid-column: 2;
        grid-row: 1;
        overflow-y: hidden;
    }

    @media (min-width: 1024px) {
        grid-template-columns: 250px 1fr;
        
        .left-side {
            left: 0; 
        }

        &.open {
            grid-template-columns: 0px 1fr;
            
            .left-side {
                left: -250px;
            }
        }
    }

    &.open {
        grid-template-columns: 250px auto; 
        
        .left-side {
            left: 0;
        }
    }
}
