:root[data-theme=dark] {
    --base-font: 'Roboto', sans-serif;
    --primary-font: 'Helvetica Neue', sans-serif;
    --secondary-font: 'Arial', sans-serif;
    --tertiary-font: 'Courier New', monospace;
    --monospace-font: 'Consolas', monospace;

    --background-color: #1C1C1C;
    --text-color: #F1F1F1;
    --accent-color: #FF1744;
    --additional-color: #00E5FF;
}
:root[data-theme=light] {
    --base-font: 'Roboto', sans-serif;
    --primary-font: 'Helvetica Neue', sans-serif;
    --secondary-font: 'Arial', sans-serif;
    --tertiary-font: 'Courier New', monospace;
    --monospace-font: 'Consolas', monospace;

    --background-color: #FFFFFF;
    --text-color: #212121;
    --accent-color: #FF1744;
    --additional-color: #00E5FF;
}