<!-- START : HEADER -->
<header class="layout__header header--page">
            
    <!-- START : NAV -->
    <nav class="header__nav">
        
        <!-- START : NAV LIST LEFT -->
        <ul class="nav__list">
            <li class="nav__list-item">
                <a class="nav__link" href="#">
                    <span class="link--text">Blog</span>
                    <i class="link--icon bi-pen"></i>
                </a>
            </li>
            <li class="nav__list-item">
                <a class="nav__link" href="#">
                    <span class="link--text">portfolio</span>
                    <i class="link--icon bi-briefcase"></i>
                </a>
            </li>
        </ul>
        <!-- END : NAV LIST LEFT -->
        
        <a class="header__nav-logo" href="/">
            <img src="https://picsum.photos/50" alt="">
        </a>
        
        <!-- START : NAV LIST RIGHT -->
        <ul class="nav__list">
            <li class="nav__list-item">
                <a class="nav__link" href="#">
                    <span class="link--text">About</span>
                    <i class="link--icon bi-person"></i>
                </a>
            </li>
            <li class="nav__list-item">
                <a class="nav__link" href="#">
                    <span class="link--text">Help</span>
                    <i class="link--icon bi-info-circle"></i>
                </a>
            </li>
        </ul>
        <!-- END : NAV LIST RIGHT -->
    </nav>
    <!-- END : NAV -->
</header>
<!-- END : HEADER -->