@use '../utils/variables' as v;
@use '../utils/mixins' as m;

.header {
    @include m.shadow(3);
    background-color: var(--background-color);
    padding: 5px;
    border-bottom: 2px solid var(--primary-color);
    position: sticky;
    top: 0;
    &,.brand {
        @include m.flex-justify(space-between, center, row, 5px);
    }

    // TITLE
    h1, p {
        font-family: var(--primary-font);
        line-height: 1.2;
        color: var(--primary-color);
        text-shadow:
            0px 2px 5px rgba(0, 0, 0, 0.12),
            0px 1px 10px rgba(0, 0, 0, 0.16);
    }
    h1 {font-size: 1.7rem}
    p {font-size: 0.8rem}

    // LOGO
    img {
        @include m.area-calculation(50px, 50px);
        @include m.shadow(1);
        border: 2px solid var(--primary-color);
        border-radius: 10px;
    }

    // NAV MENU
    .nav-menu {
        @include m.area-calculation(90%, 90%);
        padding: 20px;
        background-color: var(--background-color);
        box-shadow: 0px 0px 50px 60px rgba(0, 0, 0, 0.785);
        border: 2px solid var(--primary-color);
        border-radius: 10px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        scale: 0;
        transition: scale 0.3s ease;

        .btn {
            position: absolute;
            right: 20px;
        }
        ul {
            list-style: none;
            padding-left: 20px;
        }

        &.open {
            scale: 1;
        }
    }

    @include m.breakpoint(desktop){
        .brand {
            gap: 15px;
        }
        padding: 20px;
        #btnMenuOpen, #btnMenuClose{
            display: none;
        }

        h1 {font-size: 2.2rem}
        p {font-size: 1rem}

        // LOGO
        img {
            @include m.area-calculation(70px, 70px);
            @include m.shadow(1);
            border: 2px solid var(--primary-color);
            border-radius: 10px;
        }
        .nav-menu {
            all: unset;
            
            ul{
                padding: 0px 20px;
                @include m.flex-justify(space-between, center, row, 30px);
            }
        }
    }
}