<!DOCTYPE html>
<html lang="in">
<head>
    <meta charset="UTF-8">
    <title>Judul halaman</title>
</head>
<body>
    
    <!-- START : CONTAINER -->
    <div class="container">
        
        <!-- START : LEFT SIDE -->
        <aside class="left">
            <header class="left__header">
                <img src="https://placehold.co/100" alt="">
                <a href="">
                    <h1>Masputrawae</h1>
                    <p>deskripsi singkat</p>
                </a>
            </header>
            <form>
                <input type="search">
                <button>🔍</button>
            </form>
            
            <nav>
                {% assign categories = site.categories %}
                {% for category in categories %}
                <div class="left__categories">
                    <h3>{{ category[0] }}</h3>
                    <ul>
                        {% for post in category[1] %}
                        <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </nav>
        </aside>
        <!-- END : LEFT SIDE -->
        
        <!-- START : MAIN -->
        <div class="main">
            <header class="main__header">
                <button class="btn">⬅️</button>
                <nav>
                    <button>📥</button>
                    <ul class="main__header-menu">
                        <li><a href=""> Home</a></li>
                        <li><a href=""> Blog</a></li>
                        <li><a href=""> Portfolio</a></li>
                        <li><a href=""> Gallery</a></li>
                        <li><a href=""> Projects</a></li>
                    </ul>
                </nav>
            </header>
            
            <main class="main__post">
                <article>
                    <header class="main__post-header">
                        <h1>{{ page.title }}</h1>
                        <p>{{ page.description }}</p>
                    </header>
                    
                    <section class="main__post-content">
                        <div class="article">
                            {{ content }}
                        </div>
                        <aside class="info">
                            
                        </aside>
                    </section>
                    
                    <footer class="main__post-footer">
                        
                    </footer>
                </article>
            </main>
        </div>
        <!-- START : MAIN -->
        
    </div>
    <!-- END : CONTAINER -->
    
</body>
</html>