:root[data-theme=dark]{
    --base-font: ;
    --primary-font: ;
    --secondary-font: ;
    --monospace-font: ;
    
    --primary-color: ;
    --secondary-color: ;
    --tertiary-color: ;
    --accent-color: ;
    
    --text-color: ;
}