<!DOCTYPE html>
<html lang="in">
<head>
    <meta charset="UTF-8">
    <title>Judul halaman</title>
</head>
<body>
    <!-- START : LEFT SIDEBAR -->
    <aside class="left">
        
        <!-- START : LEFT HEADER -->
        <header class="left__header">
            <img src="https://placehold.co/50" alt="">
            <div class="left__header-title">
                <h1>{{ site.title }}</h1>
                <p>{{ site.description }}</p>
            </div>
            <button class="btn">❌</button>
        </header>
        <!-- END : LEFT HEADER -->
        
        <!-- START : LEFT NAVIGATION -->
        <nav>
            <form class="left__nav-search">
                <input type="search">
                <button>🔍</button>
            </form>
            <div class="left__nav-categories">
                {% assign categories = site.categories %}
                {% for category in categories %}
                <div class="left__nav-categories-item">
                    <h3>{{ category[0] }}</h3>
                    <ul>
                        {% for post in category[1] %}
                        <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </nav>
        <!-- END : LEFT NAVIGATION -->
        
    </aside>
    <!-- END : LEFT SIDEBAR -->
    
    <!-- START : RIGHT -->
    <div class="right">
        
        <header class="right__header">
            <button>➡️</button>
            <h1>{{ site.title }}</h1>
            <button>⬅️</button>
        </header>
        
        <main class="right__main">
            
            <article class="right__main-content">
                
            </article>
            
            <nav class="right__main-nav">
                
                <button>❌</button>
                
                <div class="setting">
                    <button>Switch Theme</button>
                    <button>Adjust Font Size</button>
                </div>
                
                <div class="recent-change">
                    <ul>
                        <li><a href=""></a></li>
                    </ul>
                </div>
                
                <div class="last-modified">
                    <ul>
                        <li><a href=""></a></li>
                    </ul>
                </div>
                
                <div class="toc">
                    <ul>
                        <li><a href=""></a></li>
                    </ul>
                </div>
                
            </nav>
            
        </main>
        
        <footer class="right__footer">
            
        </footer>
        
    </div>
    <!-- END : RIGHT -->
</body>
</html>