---
layout: default
---
<body class="post">
    <header>
        {% include partials/header.html %}
        {% include partials/button-nav.html %}
    </header>
    <aside class="left">
        <div class="flex-justify">
            <img src="{{ '/assets/images/logo/logo.png' | relative_url | default: 'https://placehold.co/50' }}" alt="">
            <button class="btn btn-primary" id="btnLeftClose">
                <i class="bi-x"></i>
            </button>
        </div>
        {% include components/categories.html %}
    </aside>
    <main>
        <article class="content">
            <header>
                <h1>{{ page.title }}</h1>
                <p>
                    <span>{{ page.description }}</span><br>
                    <span><strong>Publish on:</strong> {{ page.date | date: "%d %B %Y" }} <strong>by</strong> {{ page.author | default: site.author }}</span><br>
                    {% if page.last_modified_at %}
                    <span><strong>Last modified at:</strong> {{ page.last_modified_at | date: "%d %B %Y" }}</span><br>
                    {% endif %}
                </p>
                {% if page.image %}
                <img src="{{ page.image }}" alt="{{ page.title }}">
                {% endif %}
                <img src="https://picsum.photos/320/150" alt="{{ page.title }}">
            </header>
            <section>
                {% include components/anchor_headings.html html=content anchorBody="#" %}
            </section>
        </article>
        
        <aside class="right">
            <div class="flex-justify">
                <button class="btn btn-primary" id="switchTheme">
                    <i class="bi-moon"></i>
                </button>
                <button class="btn btn-primary" id="btnRightClose">
                    <i class="bi-x"></i>
                </button>
            </div>
            <nav>
                <div class="toc">
                    {% include components/toc.html html=content %}
                </div>
                <div class="related">
                    {% include components/related.html %}
                </div>
            </nav>
        </aside>
    </main>
    {% include partials/footer.html %}
</body>