---
layout: page
title: Home
---
<!-- START : MAIN -->
<main class="layout__main main--home">
    <!-- START : HERO -->
    <section class="hero">
        <div class="hero-welcome">
            <h1>
                <span>Hi, I'm </span>
                <span>Putra,</span>
                <span>Passionate Web Developer in the Making!</span>
            </h1>
            <p>Selamat datang di dunia saya! Saya sedang belajar membangun website yang keren, responsif, dan penuh fungsi. Ini adalah langkah pertama dari perjalanan saya—semoga kamu suka!</p>
        </div>
        <div class="hero-cta">
            <a href="#">Gabung Di Discord</a>
            <a href="#">Jelajah Lebih Lanjut</a>
        </div>
    </section>
    <!-- END : HERO -->
    
    <!-- START : LEARNING SKILL -->
    <section class="skill">
        <h2>Apa saja yang sedang saya pelajari</h2>
        <p>Belajar itu seru, walaupun terkadang bikin pusing. Tapi dengan semangat, kesabaran, kerja keras, dan doa, semua pasti bisa dipelajari. Ini dia beberapa hal yang sedang saya pelajari sekarang:
        <div class="skill-highlight">
            
            <article class="card card--skill">
                <div class="header-card">
                    <img src="https://picsum.photos/50" alt="">
                    <h3>HTML & CSS</h3>
                </div>
                <p>HTML & CSS itu seperti seni, ibarat kanvas dan cat. Saya suka bagaimana elemen-elemen kecil bisa berubah menjadi website yang cantik dan menarik!</p>
            </article>
            
            <article class="card card--skill">
                <div class="header-card">
                    <img src="https://picsum.photos/50" alt="">
                    <h3>Javascript</h3>
                </div>
                <p>JavaScript? Wah, ini tantangan besar buat saya. Rasanya rumit, tapi saya yakin, dengan latihan dan doa, suatu hari nanti saya akan menguasainya. 😅</p>
            </article>
            
            <article class="card card--skill">
                <div class="header-card">
                    <img src="https://picsum.photos/50" alt="">
                    <h3>PHP</h3>
                </div>
                <p>PHP bikin saya penasaran. Mungkin belum se-populer dulu, tapi siapa tahu ini akan jadi senjata rahasia saya di dunia back-end development!</p>
            </article>
            
            <article class="card card--skill">
                <div class="header-card">
                    <img src="https://picsum.photos/50" alt="">
                    <h3>Python</h3>
                </div>
                <p>Python itu katanya mudah dipelajari. Saya anggap ini seperti <b>ular</b> yang harus dijinakkan. Sedikit usaha, dan semoga saya bisa menjadi pawangnya. 🐍</p>
            </article>
            
            <article class="card card--skill">
                <div class="header-card">
                    <img src="https://picsum.photos/50" alt="">
                    <h3>Bootstrap & Tailwind</h3>
                </div>
                <p>Framework ini seperti shortcut untuk bikin desain responsif. Tapi saya masih penasaran, apakah ini benar-benar mempermudah atau justru bikin saya malas? Hehe.</p>
            </article>
            
            <article class="card card--skill">
                <div class="header-card">
                    <img src="https://picsum.photos/50" alt="">
                    <h3>Linux</h3>
                </div>
                <p>Linux si penguin ini sudah jadi teman coding saya. Sekarang cuma sekadar pakai, tapi suatu saat saya ingin mendalami lebih jauh kemampuannya.</p>
            </article>
            
            <article class="card card--skill">
                <div class="header-card">
                    <img src="https://picsum.photos/50" alt="">
                    <h3>Jekyll</h3>
                </div>
                <p>Jekyll adalah alat favorit saya untuk membuat website statis. Cepat, sederhana, dan sangat efektif. Saya suka mempelajarinya lebih dalam.</p>
            </article>
            
            <article class="card card--skill">
                <div class="header-card">
                    <img src="https://picsum.photos/50" alt="">
                    <h3>Ilmu copy paste</h3>
                </div>
                <p>Siapa yang tidak suka copy-paste? Teknik ini memang menyelamatkan hidup saya, meskipun kadang bikin pusing kalau kode yang dipaste error. 😅</p>
            </article>
            
        </div>
    </section>
    <!-- END : LEARNING SKILL-->
    
    <!-- START : BLOG HIGHLIGHT -->
    <section class="blog">
        <h2>Catatan Belajarku: Tempat Aku Berbagi, Belajar, dan Berkembang</h2>
        {% for category in site.categories %}
        <div class="blog-highlight">
            <h3>{{ category[0] }}</h3>
            
            {% for post in category[1] %}
            <article class="card card--blog">
                <h4>{{ post.title }}</h4>
                <p>{{ post.excerpt | truncatewords: 20, '...' }}</p>
                <a href="{{ post.url | relative_url }}">Read More...</a>
            </article>
            {% endfor %}
        </div>
        {% endfor %}
    </section>
    <!-- END : BLOG HIGHLIGHT -->
    
</main>
<!-- START : MAIN -->