@use '../utils/variables' as v;
@use '../utils/mixins' as m;

.btn {
    @include m.area-calculation(40px, 40px);
    @include m.hover-scale();
    @include m.shadow(1);
    background-color: var(--background-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    &:hover {
        color: var(--secondary-color);
        border-color:var(--secondary-color);
    }
}