:root[data-theme=dark]{
    --base-font: ;
    --articke-font: ;
    --heading-font: ;
    --monospace-font: ;

    --background-color: ;
    --accent-color: ;
    --text-color: ;
}

:root[data-theme=dark]{
    --base-font: ;
    --articke-font: ;
    --heading-font: ;
    --monospace-font: ;

    --background-color: ;
    --accent-color: ;
    --text-color: ;
}