// UTILS
@use '../utils/variables' as var;
@use '../utils/mixins' as mix;

.layout__header {
    padding: 1rem;
    &,.header__brand {
        @include mix.flex-justify(space-between, center, 15px, row);

        h1 {
            color: var(--accent-color);
        }

        img {
            @include mix.area-calculation(50px, 50px);
            border-radius: 5px;
        }
    }

    .header__nav {
        .header__nav-menu {
            @include mix.full-screen(-100vh);
            transition: top 1s ease;

            &.header__nav-menu--open{
                @include mix.full-screen(0);
            }

            @include mix.respond-to(lg){
                @include mix.area-calculation(auto, auto);
                top: 0;
                position: sticky;

                &,ul {
                    @include mix.flex-justify(space-between, center, 20px, row);
                    list-style: none;
                }
            }
        }
    }
}