// UTILS
@use '../utils/variables' as var;
@use '../utils/mixins' as mix;
// Extend
@use '../utils/extend';

.layout__main {
    @extend .extend_p1;
    
    .main__hero-welcome {
        @extend .extend_p1;
    }

    .main__skill {
        .main__skill-card {
            @extend .extend__full-flex-justify;
            @extend .extend_p1;
            overflow-x: auto;

            .main__skill-card-item {
                min-width: 150px;
                text-align: center;

                .main__skill-card-item img {
                    width: 100%; 
                    height: auto;
                }
            }
        }
    }

    .main__blog {
        .main__blog-card {
            @extend .extend__full-flex-justify;
            @extend .extend_p1;
            overflow-x: auto;

            .main__blog-card--item {
                @extend .main__skill-card-item;

                .main__blog-card--item img {
                    width: 100%; 
                    height: auto;
                }
            }
        }
    }
}