// UTILS
@use '../utils/variables' as var;
@use '../utils/mixins' as mix;

.wrapper--bg {
    @include mix.bg-cover(var(--background-img));
}

.layout__main {
    padding: 10px;

    .main__skill-card {
        @include mix.flex-justify(space-between, center, 20px, row);
        align-items: center;
        overflow-y: auto;
        word-wrap: nowrap;

        .main__skill-card-item {
            text-align: center;
            min-width: 250px;
            padding: 10px;

            p {
                display: inline-block;
                position: relative;
            }
            img {
                width: 320px;
            }
        }
    }
}