// UTILS
@use '../utils/variables' as var;
@use '../utils/mixins' as mix;

.layout {
    @include mix.respond-to(lg){
        .main__hero {
            @include mix.grid-setting(2fr 320px, auto auto);
            
            .main__hero-welcome {
                grid-column: 1;
                grid-row: 1;
            }

            .main__skill {
                grid-column: 2;
                grid-row: 1;
            }

            .main__blog {
                grid-column: 1/3;
                grid-row: 2;
            }
        }
    }
}