// Utils
@use '../utils/mixins' as mix;
@use '../utils/variables' as var;

button {
    border-radius: 10px;
    padding: 10px 15px;
    box-shadow:
        5px 5px 10px 1px rgba(0,0,0,0.1),
        -5px -5px 10px 1px rgba(0,0,0,0.1),
        inset 0px 0px 1px 1px var(--button);
        
    color: var(--button);
    transition: all 0.1s ease;
    transform: scale(1.05);
    background-color: var(--button-bg);
}
button:hover {
    transform: scale(1);
    box-shadow:
        5px 5px 20px 1px rgba(0,0,0,0.1),
        -5px -5px 30px 1px rgba(0,0,0,0.1),
        inset 0px 0px 1px 1px #a27100;
        
    color: #a27100;
}

button:active {
    transform: scale(0.95);
    box-shadow:
        1px 1px 1px 1px rgba(0,0,0,0.1),
        -1px -1px 1px 1px rgba(0,0,0,0.1),
        inset 0px 0px 1px 1px #0082dc;
        
    color: #0082dc;
}