// header.scss
@use '../utils/mixins' as mix;
@use '../utils/variables' as var;
header {
    @include mix.flex-justify();

    padding: 10px;
    background: var(--primary-bg);
    h1 {
        color: var(--primary-text);
    }
    .desktop {display: none;}

    @media (min-width: 1024px ) {
        .mobile{
            display: none;
        }
    }
}