@use '../utils/mixins' as mix;
@use '../utils/variables' as var;

header {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    h1 {
        grid-column: 1;
        grid-row: 1;
    }

    .search-bar {
        grid-column: 1;
        grid-area: 2;
    }

    nav {
        grid-column: 1;
        grid-area: 3;

        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            justify-content: space-between;
        }
    }
}