@use '../utils/mixins';
@use '../utils/variables';

.offcanvas {
    position: absolute;
    left: -250px;
    width: 250px;
    background-color: var(--secondary-bg);
    color: var(--secondary-text);
    transition: left 1s ease-in-out;

    padding: 1rem;
    
    .header-sidebar {
        padding: 2rem 5px;
        text-align: center;
        border-radius: 10px;
        box-shadow:  3px 3px 5px var(--shadow), -3px -3px 5px var(--shadow), inset -1px -1px 5px var(--shadow);
        img {
            width: 150px;
            height: 150px;

            border: 3px solid var(--primary-accent);
            border-radius: 5px;
            box-shadow:  3px 3px 5px var(--shadow), -3px -3px 5px var(--shadow), inset -1px -1px 5px var(--shadow);
        }
    }

    ul {
        padding-left: 2rem;
        list-style: none;

        a {
            border-radius: 5px;
            padding: 5px;
            display: inline-block;
            color: var(--link);

            transition: all 0.1s ease;

            &:hover {
                transform: scale(1.1);
            }

            &:visited, &:active {
                transform: scale(1);
                box-shadow:0px 0px 0px 1px var(--shadow-hover), 0px 0px 0px 1px var(--shadow-hover), inset 1px 1px 5px 5px var(--shadow-inset);
            }
        }
    }
    @media (min-width: 1024px) {
        left: 0;
    }
}